<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>Intranet du Laboratoire Galaxy-Swiss Bourdin</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="{{ asset('gsbbundle/styles/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('gsbbundle/styles/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('gsbbundle/js/vendor/jquery-1.11.2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('gsbbundle/js/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{asset('gsbbundle/js/jquery-2.1.4.min.js')}}"></script>
        <script src="{{asset('gsbbundle/js/jquery.dataTables.min.js')}}"></script>
        <link href="{{asset('gsbbundle/styles/jquery.dataTables.min.css')}}"  rel="stylesheet"/>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('gsbbundle/images/favicon.png') }}" />
    </head>
    <body>
        <div id="page">
            <div id="entete" class="Deg-noir col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <img src="{{ asset('gsbbundle/images/logo.png') }}" class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
                <h1 class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 ">Suivi du remboursement des frais</h1>
            </div>
            
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
                
                <div id="pied" class="col-md-offset-3 col-sm-offset-2 col-xs-offset-0">
                    <div class="spacer">&nbsp;</div>
                    <p class="logoValidW3c">
                        <img src="http://www.w3.org/Icons/valid-xhtml10"
                             alt="Valid XHTML 1.0 Strict" />
                    </p>
                    <p class="logoValidW3c">
                        <img src="http://jigsaw.w3.org/css-validator/images/vcss"
                             alt="CSS Valide !" />
                    </p>
                    <p id="libValidW3c">Cette page est conforme aux standards du Web</p>
                </div>
                
            </div>
        </div>
    </body>
</html>