#chargement{
    width:100%;
    text-align: center;
}
#chargement img{
    width: 60px;
    height: 60px;
}

body{
    background-color: #77AADD !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da9ed', endColorstr='#1b4389',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:100%;
    margin:0% 0%;
    color : black !important;
    padding : 0.0em;
    font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:0.8em;
}

.Deg-noir {
    background: -moz-radial-gradient(center, ellipse cover, rgba(193,193,193,0.25) 0%, rgba(0,0,0,0.32) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(193,193,193,0.25)), color-stop(100%,rgba(0,0,0,0.32))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(193,193,193,0.25) 0%,rgba(0,0,0,0.32) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(193,193,193,0.25) 0%,rgba(0,0,0,0.32) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(193,193,193,0.25) 0%,rgba(0,0,0,0.32) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(193,193,193,0.25) 0%,rgba(0,0,0,0.32) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c1c1c1', endColorstr='#52000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border : solid 0.1em #000;
}


#entete{
    background-color: rgba(0, 0, 0, 0.2);
    color : WHITE;
    padding: 0em;
    border-collapse: separate;
}
#entete h1{
    font-size: 2.5em;
    margin-top:3%;
}

#contenu{
    border: none;
    padding: 1.3em;
    margin-top : 0em;
    min-height:27em;
    height:27em;
}

/* Style pour les liens de la page principale */
#contenu .corpsTexte {
    width:80%;
    font-size:1.2em;
}

/* Style pour les liens de la page principale */
#contenu a {
    font-size : 1.1em;
    color:black;
    text-decoration:none;
}
#contenu a:hover {
    text-decoration:underline;
    background-color : #D9BB7A;
    font-size : 1em;
}

/* Style pour les parties importantes de la page principale */
#contenu strong {
    font-weight:bold;
}

/* Styles pour les tableaux de la page principale */
#contenu table {
    background-color:#FFF;
    border : 0.1em solid #777777;
    color:black;
    margin-right : auto ;
    margin-left:0.3em;
    border-collapse : collapse;
}

/* Style pour les lignes d'en-tête des tableaux */
#contenu th {  
    background-color:#77AADD;
    height:21px;
    text-align:left;
    vertical-align:top;
    font-weight:bold;
    border-bottom:0.1em solid #777777;
    font-size:1.1em;
} 

#contenu td {
    border :1px solid #777777;
}

#contenu h3 {
    font-size : 1.2em;
}

#contenu h2 {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border : 1px solid #6988BE;
    padding-left: 25px;
    background-color: #E9F1FE;
    opacity: 0.3;
    height : 28px;
    text-align: center;
}

#contenu img {
    height : 28px;
    float : left;
}

#pied{
    clear : both;
    margin-top : 1em;
    padding: 0.2em;
    border-collapse: separate;
}

.logoValidW3c {
    display: inline;
}
#libValidW3c{
    display : inline;
    vertical-align:middle;
}


#logoGSB{
    padding-top:1%;
    padding-bottom:1%;
}

.txtCaption{
    color:white;
}

#cadreBg {    
    margin-top : 10px;
    padding: 5px;
    border-bottom : 2px  white solid ;
}

/* Style des formulaires */
.corpsForm {
    /*border : solid 0.1em #000;
    border-bottom-width:1px;*/
    margin-bottom : 0em;
    width : 95%;
}
.piedForm {
    /*border-bottom-width : 0.1em;
    border-left-width : 0.1em;
    border-right-width : 0.1em;
    border-top-width : 0em;
    border-style : solid;
    border-color : #000;*/
    text-align:right ;
    width : 95%;
    margin-top:0em;
}


form {
    margin-bottom:1em;  
}
.corpsForm legend {
    font-weight:bold;
    font-size:1.2em;
}
.corpsForm label{
    float: left;
    text-align:right;
    margin: 0;
    padding: 0 .5em 0 0;
    line-height: 1.8;	
}


input, button, textarea, select{
    font-family:"Trebuchet MS", sans-serif;
    font-size : 1em;
}
button{
    width : 60px;
    height : 30px;
    text-align:center;
    vertical-align:middle;
}
input:hover, textarea:hover, select:hover{
    background-color : #FAFAE6;
    cursor : pointer;
}

/*  Le texte des messages d'erreur est de couleur rose sur fond ocre et de 
taille de caractères légèrement supérieure à la normale */
.erreur{ 
    background-color:rgb(237,210,229);
    color:rgb(203,28,128);
    font-size:1.1em;
    width:95%;
}

/* Tableaux quadrillés utilisés pour l'affichage de listes avec contenu léger*/ 
table.listeLegere th, table.listeLegere td {
    border : dotted rgb(178,207,81) 0.1em;
    padding:0.5em;
    vertical-align : top;
    text-align : left;
}

table.listeLegere caption {
    font-size : 1.1em;
    text-align : left;
    margin-bottom : 0.3em;
}
table.listeLegere td {
    vertical-align:top;
    font-weight:normal;
}
table.listeLegere th.eltForfait{
    color:black;
}
table.listeLegere th.date, table.listeLegere th.montant{
    width:15%;
    color:black;
}
table.listeLegere th.libelle{
    width:70%;
    color:black;
}