<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>REMBOURSEMENT DE FRAIS ENGAGES</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    </head>
    <body>
        <div style="text-align: center">
            <img style="width: 150px;height:50px;" src="{{ asset('gsbbundle/images/logo.png') }}" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
        </div>
        <h3 style="text-align: center" >REMBOURSEMENT DE FRAIS ENGAGES</h3>
        <div style="border-style: solid;" >
            <table cellspacing="0" style="text-align:center">
                <tr>
                    <th>Visiteur :</th><th>{{ idUtilisateur }}</th><th>{{ prenomUtilisateur }} {{ nomUtilisateur|upper }}</th>
                </tr>
                <tr>
                    <th>Mois : </th><th>{{ libelleMois }} {{ annee }}</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table cellspacing="0" border="1" style="text-align: center" >
                <thead>
                    <tr>
                        <th style="border-top:2px; border-bottom:2px; border-left:2px;">Frais Forfaitaires</th>
                        <th style="border-top:2px; border-bottom:2px;">Quantité</th>
                        <th style="border-top:2px; border-bottom:2px;">Montant unitaire</th>
                        <th style="border-top:2px; border-bottom:2px; border-right:2px">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unFraisForfait  in tabEltsFraisForfait%}
                        <tr>
                            <th>{{ unFraisForfait.libelle }}</th>
                            <th>{{ unFraisForfait.quantite }} </th>
                            <th>{{ unFraisForfait.montantUnitaire }} €</th>
                            <th>{{ unFraisForfait.total }} €</th>
                            <th></th>
                            <th></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                <b style="text-align: right">
                    Total des frais forfaits : {{ totalEltsFraisForfait }} €
                </b>
            <br/>
            <br/>
            <h4 style="text-align:center;">Autres Frais</h4>
            <table cellspacing="0" border="1" style="text-align: center">
                <thead>
                    <tr>
                        <th style="border-top:2px; border-bottom:2px; border-left:2px;" class="date">Date</th>
                        <th style="border-top:2px; border-bottom:2px;" class="libelle">Libellé</th>
                        <th style="border-top:2px; border-bottom:2px; border-right:2px" class="montant">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lgEltHorsForfait in idJeuEltsHorsForfait%}
                        <tr>
                            <td>{{ lgEltHorsForfait.date.date|date("d/m/Y") }}</td>
                            <td>{{ lgEltHorsForfait.libelle }}</td>
                            <td>{{ lgEltHorsForfait.montant }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <b style="text-align: right">
                Total des autres frais : {{ totalEltsHorsForfait }} €<br/><br/>
                Total de la fiche de frais : {{ totalEltsHorsForfait + totalEltsFraisForfait }} €</b>
            <div  style="text-align: right">
                <p>Fait à Paris, le {{ dateSignature }}<br>Vu l'agent comptable </p>
                <img style="width: 80px;height:20px;" src="{{ asset('gsbbundle/images/signature.png') }}" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
            </div>

    </body>
</html>
