{% extends "GSBGSBBundle:Page:index.html.twig" %}

{% block contenu %}
    <h2>Mes fiches de frais</h2>

    <h3>Mois à sélectionner : </h3>
    <form action="{{ path('gsbgsb_consultFichesFrais') }}" method="post">
        <div class="corpsForm">
            <input type="hidden" name="etape" value="validerConsult" />
            <p>
                <label for="lstMois">Mois : </label>
                <select id="lstMois" name="lstMois" title="Sélectionnez le mois souhaité pour la fiche de frais" >
                    {% for unMois in mois %}  
                        <option value="{{ unMois.mois }}" {% if moisSaisi == unMois.mois %}selected="selected"{% endif %}>{{ unMois.libelleMois }} {{ unMois.numAnnee }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <div class="piedForm">
            <p>
                <input class="btn btn-sm btn-primary" id="ok" type="submit" value="Afficher cette fiche de frais" size="20"
                       title="Demandez à consulter cette fiche de frais" />
                <input class="btn btn-sm btn-danger" id="annuler" type="reset" value="Effacer" size="20" />
            </p> 
        </div>

    </form>
    <div class="erreur">
        <ul>
            {% for erreur in app.session.flashbag.get('erreur') %}
                <li>{{ erreur }}</li>
                {% endfor %}
        </ul>
    </div>
    {% if consultActif == true %}
        {{ include("GSBGSBBundle:Page:ficheFrais.html.twig") }}
        {% if idEtat == 'MP' or idEtat == 'RB'%}
            <a class="btn btn-sm btn-success" href="{{ path('gsbgsb_genererPdfFicheFrais') }}?mois={{ moisSaisi }}" ><span class="glyphicon glyphicon-open" aria-hidden="true"></span> Générer PDF</a>
        {% endif %}
    {% endif %}
{% endblock %}