<h3>Fiche de frais du mois de {{ libelleMois }} {{ annee }} : 
    <em>{{ libelleEtat }} </em>
    depuis le <em>{{ dateModif|date("d/m/Y") }}</em></h3>
<div class="encadre">
    <p>Montant validé : {{ montantValide }}</p>

    <table id="t3" class="display tableau" cellspacing="0" >
        <caption class="txtCaption">Quantités des éléments forfaitisés :</caption>
        <thead>
            {% for unFraisForfait  in tabEltsFraisForfait%}
            <th>{{ unFraisForfait.libelle }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for unFraisForfait  in tabEltsFraisForfait%}
            <td class="qteForfait">{{ unFraisForfait.quantite }}</td>
        {% endfor %}
        </tbody>
    </table>
        </br>
    <table id="t2" class="display tableau" cellspacing="0" >
        <caption class="txtCaption">Descriptif des éléments hors forfait {{ nbJustificatif }} justificatifs reçus :
        </caption>
        <thead>
        <th class="date">Date</th>
        <th class="libelle">Libellé</th>
        <th class="montant">Montant</th>                
        </thead>
        <tbody>
            {% for lgEltHorsForfait in idJeuEltsHorsForfait%}
                <tr>
                    <td>{{ lgEltHorsForfait.date.date }}</td>
                    <td>{{ lgEltHorsForfait.libelle }}</td>
                    <td>{{ lgEltHorsForfait.montant }}</td>
                </tr>
            {% endfor %}
            </body>
    </table>
</div>

{% block javascripts %}
    <script>$(document).ready(function () {
            $('#t3').DataTable({bFilter: false, bInfo: false,"language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});
            $('#t2').DataTable({"language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});
        });</script>
{% endblock %}