<nav class="navbar navbar-inverse col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>  
    </div>
</nav>
<div class="Deg-noir col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    <div class="erreur">
        {% for erreur in app.session.flashbag.get('erreur') %}
            {{ erreur }}
        {% endfor %}
    </div>
    <div id="contenu" class="col-md-offset-4 col-sm-offset-4 col-xs-offset-3">
        <form id="frmConnexion" action="{{ path('gsbgsb_seconnecter') }}" method="post">
            <div class="">
                <input type="hidden" name="etape" id="etape" value="validerConnexion" />
                <p>
                    <label for="txtLogin" accesskey="n">* Login : </label>
                    <input type="text" id="txtLogin" name="txtLogin" maxlength="20" size="15" value="" title="Entrez votre login" />
                </p>
                <p>
                    <label for="txtMdp" accesskey="m">* Mot de passe : </label>
                    <input type="password" id="txtMdp" name="txtMdp" maxlength="8" size="15" value=""  title="Entrez votre mot de passe"/>
                </p>
            </div>
            <div >
                <p>
                    <input class="btn btn-sm btn-primary" type="submit" id="ok" value="Valider" />
                    <input class="btn btn-sm btn-danger" type="reset" id="annuler" value="Effacer" />
                </p> 
            </div>
        </form>
    </div>
</div>