{% extends "GSBGSBBundle:Page:index.html.twig" %}

{% block contenu %}

    <h2>Gestion des fiches de frais</h2>
    <p class="bg-success">{% for succes in app.session.flashbag.get('succes') %}{{ succes }}{% endfor %}</p>
    <div class="erreur"></div>
    <h3>Visiteur médical à sélectionner : </h3>
    <form id="frmValidation" action="{{ path('gsbgsb_validFicheFrais')}}" method="post">
        <div class="corpsForm">
            <input type="hidden" name="etape" value="validerConsult" />
            <p>
                <label for="lstVisiteur">Visiteur médical : </label>
                <select id="lstVisiteur" name="lstVisiteur" title="Sélectionnez le visiteur médical souhaité pour la fiche de frais" >
                    <option value=""></option>
                    {% for unUtilisateur in lesUtilisateurs %}
                        <option value="{{ unUtilisateur.id }}">{{ unUtilisateur.nom }} {{ unUtilisateur.prenom }}</option>
                    {% endfor %}
                </select>
            </p>
            <p id='msgLstMois'></p>
            <p id='blockLstMois'>
                <label for="lstMois">Mois : </label>
                <select id="lstMois" name="lstMois" title="Sélectionnez le mois souhaité pour la fiche de frais" >
                    <option value=""></option>
                </select>
            </p>
        </div>
    </form>
    <div id="chargement"></div>
    <form id="formValidFrais" name="formValidFrais">
        <div style="clear:left;"><h2>Frais au forfait </h2></div>
        <table id="tableauFraisForfait" class="display tableau" cellspacing="0" >
            <thead>
                <tr>
                    {% for unFraisForfait in tabEltsFraisForfait %}
                        <th>{{ unFraisForfait.libelle }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody> 
                <tr align="center">
                    {% for unFraisForfait in tabEltsFraisForfait %}
                        <th width="80"><input class="num_FF" id="{{ unFraisForfait.idFrais }}" type="text" size="3" name="repas" value="0"/></th>
                        {% endfor %}
                </tr>
            </tbody>
        </table>

        <p class="titre" /><div style="clear:left;"><h2>Hors Forfait</h2></div>
        <div id="nbJustificatif"></div>
        <table id="tabHF" class="display tableau" cellspacing="0" >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Libellé </th>
                    <th>Montant</th>
                    <th>Situation</th>
                    <th>Justifié</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>			
        <p class="titre" /><label class="titre">&nbsp;</label><input id="btnReset" class="zone" type="button" value="Réinitialiser" /><input id="btnValiderFicheFrais" class="zone" type="button" value="Valider" />
    </form>


{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            
            function getNbJustifiee(){
                nb = 0;
                $('.chkJustifie').each(function (key) {
                    if ($(this).is(':checked')) {
                        nb++;
                    }
                });
                return nb;
            }
            
            function eventSupprimerLFHF() {
                $('.btnSupprimerFHF').click(function () {
                    idUtilisateur = $('#lstVisiteur').val();
                    idMois = $('#lstMois').val();
                    nouveauMontant = $(this).val();
                    idFHF = $(this).parents("tr").attr("id");
                    btn = $(this);
                    $.ajax({
                        url: "{{ path('gsbgsb_supprimerLFHF')}}",
                        type: 'POST',
                        data: 'idFHF=' + idFHF
                    }).success(function (libelle) {
                        $('#txtLibelle' + idFHF).text(libelle);
                        btn.addClass("btnAnnulerRefusFHF");
                        btn.removeClass("btnSupprimerFHF");
                        btn.val('Annuler le refus');
                        btn.off();
                        eventAnnulerRefusLFHF();
                    });
                });
            }

            function eventAnnulerRefusLFHF() {
                $('.btnAnnulerRefusFHF').click(function () {
                    idUtilisateur = $('#lstVisiteur').val();
                    idMois = $('#lstMois').val();
                    nouveauMontant = $(this).val();
                    idFHF = $(this).parents("tr").attr("id");
                    btn = $(this);
                    $.ajax({
                        url: "{{ path('gsbgsb_annulerRefusLFHF')}}",
                        type: 'POST',
                        data: 'idFHF=' + idFHF
                    }).success(function (libelle) {
                        $('#txtLibelle' + idFHF).text(libelle);
                        btn.addClass("btnSupprimerFHF");
                        btn.removeClass("btnAnnulerRefusFHF");
                        btn.val('Refuser');
                        btn.off();
                        eventSupprimerLFHF();
                    });
                });
            }

            var tabHF;
            $('#blockLstMois').hide();
            $('#formValidFrais').hide();
            var tabFF = $('#tableauFraisForfait').DataTable({ordering: false, paging: false, bFilter: false, bInfo: false, "language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});

            $('#lstVisiteur').change(function () {
                $('#formValidFrais').hide();
                idVisiteur = $('#lstVisiteur').val();
                $.ajax({
                    url: "{{ path('gsbgsb_recupMoisByVisiteur')}}",
                    type: 'POST',
                    data: 'idVisiteur=' + idVisiteur
                }).success(function (data) {
                    $('.mois').remove();
                    $('.ligneHF').remove();
                    $('.erreur').empty();
                    if (typeof data !== 'string') {
                        $('#msgLstMois').empty();
                        $.each(data, function (key) {
                            $("#lstMois").append('<option class="mois" value="' + data[key]['mois'] + '">' + data[key]['libelleMois'] + ' ' + data[key]['numAnnee'] + '</option>');
                        });
                        $('#blockLstMois').show();
                    } else {
                        $('#msgLstMois').text('Cette utilisateur n\'a pas de fiche de frais à valider');
                        $('#blockLstMois').hide();
                    }
                });
            });

            $('#lstMois').change(function () {
                idVisiteur = $('#lstVisiteur').val();
                idMois = $('#lstMois').val();

                //On efface et on détruit le tableau pour pouvoir le réinitialiser après le chargement
                if ($.fn.dataTable.isDataTable('#tabHF')) {
                    tabHF.clear();
                    tabHF.destroy();
                }

                if (idMois !== '')
                {
                    $('#formValidFrais').hide();
                    $('#chargement').append('<img src="{{ asset('gsbbundle/images/ring-alt.gif') }}" alt="chargement"/>');
                    //Requête ajax qui vérifie si une fiche frais existe
                    $.ajax({
                        url: "{{ path('gsbgsb_verifExisteFicheFrais')}}",
                        type: 'POST',
                        data: 'idUtilisateur=' + idVisiteur + '&idMois=' + idMois,
                        success: function (data) {
                            $('.ligneHF').remove();
                            $('.erreur').empty();
                            $("#nbJustificatif").empty();
                            $('#text_NbJustificatifs').attr('value', data['nbJustificatifs']);

                            $.ajax({
                                url: "{{ path('gsbgsb_recupFraisAuForfait')}}",
                                type: 'POST',
                                data: 'idUtilisateur=' + idVisiteur + '&idMois=' + idMois,
                                success: function (data) {
                                    $.each(data, function (key) {
                                        $id = data[key]['id'];
                                        $('#' + $id).val(data[key]['quantite']);
                                    });
                                    $.ajax({
                                        url: "{{ path('gsbgsb_recupFraisHorsForfait')}}",
                                        type: 'POST',
                                        data: 'idUtilisateur=' + idVisiteur + '&idMois=' + idMois
                                    }).success(function (data) {
                                        nbTotal = 0;
                                        nbJustifie = 0;
                                        $.each(data, function (key) {
                                            ligne = '<tr id="' + data[key]['id'] + '" class="ligneHF" align="center"><td width="100" style="color:black" >' + data[key]['date']['date'] + '</td><td width="400" style="color:black" id="txtLibelle' + data[key]['id'] + '" >' + data[key]['libelle'] + '</td><td width="90"> <input class="num_FHF" type="text" size="10" value="' + data[key]['montant'] + '" /></td><td style="display:inline, height="35";"><input class="btnReporterFHF" type="button" value="Reporter"/> {1}</td><td><input class="chkJustifie" type="checkbox" {0}></td></tr>';
                                            if (data[key]['justifie'])
                                            {
                                                ligne = ligne.replace('{0}', 'checked');
                                                nbJustifie++;
                                            } else {
                                                ligne = ligne.replace('{0}', '');
                                            }
                                            if (data[key]['refuser'])
                                            {
                                                ligne = ligne.replace('{1}', '<input class="btnAnnulerRefusFHF" type="button" value="Annuler le refus"/>');
                                            } else {
                                                ligne = ligne.replace('{1}', '<input class="btnSupprimerFHF" type="button" value="Refuser"/>');
                                            }
                                            nbTotal++;
                                            $("#tabHF tbody").append(ligne);
                                        });
                                        $("#nbJustificatif").append('<p>Nombre de justificatifs reçus : <strong id="num_nbJustificatif">' + nbJustifie + '</strong>/<strong id="num_nbTotalJustificatif">' + nbTotal + '</strong></p>');
                                        $('.chkJustifie').change(function () {
                                            idLFHF = $(this).parents("tr").attr("id");
                                            checkbox = $(this);
                                            $.ajax({
                                                url: "{{ path('gsbgsb_modifJustif')}}",
                                                type: 'POST',
                                                data: 'idLFHF=' + idLFHF
                                            }).success(function (data) {
                                                if (checkbox.is(':checked')) {
                                                    $('#num_nbJustificatif').text(parseInt($('#num_nbJustificatif').text()) + 1);
                                                    $('.bg-success').text(data);
                                                    window.setTimeout(function () {
                                                        $('.bg-success').empty();
                                                    }, 3000);
                                                } else {
                                                    $('#num_nbJustificatif').text(parseInt($('#num_nbJustificatif').text()) - 1);
                                                }
                                            });
                                        });
                                        $('.num_FHF').change(function () {
                                            idUtilisateur = $('#lstVisiteur').val();
                                            idMois = $('#lstMois').val();
                                            nouveauMontant = $(this).val();
                                            idFHF = $(this).parents("tr").attr("id");
                                            $.ajax({
                                                url: "{{ path('gsbgsb_changeValeurFHF')}}",
                                                type: 'POST',
                                                data: 'nouveauMontant=' + nouveauMontant + '&idFHF=' + idFHF,
                                                success: function (msg) {
                                                    $('.bg-success').text(msg);
                                                    window.setTimeout(function () {
                                                        $('.bg-success').empty();
                                                    }, 3000);
                                                }, error: function (msg) {
                                                    $('.erreur').text(msg.responseJSON);
                                                    window.setTimeout(function () {
                                                        $('.erreur').empty();
                                                    }, 3000);
                                                }
                                            });
                                        });

                                        eventSupprimerLFHF();

                                        eventAnnulerRefusLFHF();

                                        $('.btnReporterFHF').click(function () {
                                            idUtilisateur = $('#lstVisiteur').val();
                                            idMois = $('#lstMois').val();
                                            nouveauMontant = $(this).val();
                                            idFHF = $(this).parents("tr").attr("id");
                                            $.ajax({
                                                url: "{{ path('gsbgsb_reporterLFHF')}}",
                                                type: 'POST',
                                                data: 'idUtilisateur=' + idUtilisateur + '&idMois=' + idMois + '&idFHF=' + idFHF
                                            }).success(function (msg) {
                                                $('#' + idFHF).remove();
                                                $('#num_nbTotalJustificatif').text(parseInt($('#num_nbTotalJustificatif').text()) - 1);
                                                $('#num_nbJustificatif').text(getNbJustifiee());
                                            });
                                        });
                                        $('#chargement').empty();
                                        $('#formValidFrais').show();

                                        tabHF = $('#tabHF').DataTable({bInfo: false, "language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});
                                    });
                                }
                            });
                        },
                        error: function (msg) {
                            $('.erreur').append('<p>' + msg.responseJSON + '</p>');
                            $('#formValidFrais').hide();
                        }
                    });

                } else {
                    $('#formValidFrais').hide();
                }

            });
            $('.num_FF').change(function () {
                idUtilisateur = $('#lstVisiteur').val();
                idMois = $('#lstMois').val();
                nouvelleQuantite = $(this).val();
                idFF = $(this).attr('id');
                $.ajax({
                    url: "{{ path('gsbgsb_changeValeurFF')}}",
                    type: 'POST',
                    data: 'idUtilisateur=' + idUtilisateur + '&idMois=' + idMois + '&nouvelleQuantite=' + nouvelleQuantite + '&idFF=' + idFF,
                    success: function (msg) {
                        $('.bg-success').text(msg);
                        window.setTimeout(function () {
                            $('.bg-success').empty();
                        }, 3000);
                    }, error: function (msg) {
                        $('.erreur').text(msg.responseJSON);
                        window.setTimeout(function () {
                            $('.erreur').empty();
                        }, 3000);
                    }
                });
            });

            $('#btnValiderFicheFrais').click(function () {
                $('#frmValidation').submit();
            });

            $('#btnReset').click(function () {
                $('#formValidFrais').trigger('reset');
                $('.num_FF').each(function () {
                    $(this).change();
                });
                $('.num_FHF').each(function () {
                    $(this).change();
                });
            });
        });
    </script>
{% endblock %}