{% extends "::base.html.twig" %}

{% block body %}
    {% if estConnecter == false%}
        {{ include("GSBGSBBundle:Page:formConnection.html.twig") }}
    {% else %}
        {{ include("GSBGSBBundle:Page:sommaire.html.twig") }}
        <div class="Deg-noir col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">

            {% block contenu %}
                <div id="contenu">
                    <h2>Bienvenue sur l'intranet GSB</h2>
                </div>
            {% endblock %}
        </div>
        {% endif%}
    {% endblock %}