{% extends "GSBGSBBundle:Page:index.html.twig" %}

{% block contenu %}
    <h2>Renseigner ma fiche de frais du mois de {{ libelleMois }} {{ annee }}</h2>
    <div class="erreur">
        <ul>
            {% for erreur in app.session.flashbag.get('erreur') %}
                <li>{{ erreur }}</li>
                {% endfor %}
        </ul>
    </div>
    <p class="info">{% for succes in app.session.flashbag.get('succes') %}{{ succes }}</li>{% endfor %}</p>       
<form action="{{ path('gsbgsb_validModifdElementForfait') }}" method="post">
    <div class="corpsForm">
        <fieldset>
            <legend>Eléments forfaitisés</legend>
            {% for uneLigne in ligneFraisForfait %}
                <p class ='col-sm-12 col-xs-12'>
                    <label class ='col-sm-6 col-xs-6' for="{{ uneLigne.id }}">* {{ uneLigne.libelle }} : </label>
                    <input type="number" id="{{ uneLigne.id }}" 
                           name="txtEltsForfait[{{ uneLigne.id }}]" 
                           size="10" maxlength="5"
                           title="Entrez la quantité de l'élément forfaitisé" 
                           value="{{ uneLigne.quantite }}" />
                </p>
            {% endfor %}
        </fieldset>
    </div>
    <div class="piedForm">
        <p>
            <input id="ok" type="submit" class="btn btn-sm btn-primary" value="Valider" size="20" 
                   title="Enregistrer les nouvelles valeurs des éléments forfaitisés" />
            <input id="annuler" type="reset" class="btn btn-sm btn-danger" value="Effacer" size="20" />
        </p> 
    </div>


</form>
<table id="t1" class="display tableau" cellspacing="0" >
    <caption class="txtCaption">Descriptif des éléments hors forfait</caption>
    <fieldset>
        <legend>Eléments hors forfait</legend>
        <thead>
        <th class="date">Date</th>
        <th class="libelle">Libellé</th>
        <th class="montant">Montant</th>  
        <th class="action"></th>              
        </thead>
        <tbody>
            {% for uneLigne in ligneFraisHorsForfait %}
                <tr>
                    <td>{{ uneLigne.date.date|date("d/m/Y") }}</td>
                    <td>{{ uneLigne.libelle }}</td>
                    <td>{{ uneLigne.montant }}</td>
                    <td><a href="{{ path('gsbgsb_supprimerFraisHorsForfait') }}?idLigneHF={{ uneLigne.id }}"
                           onclick="return confirm('Voulez-vous vraiment supprimer cette ligne de frais hors forfait ?');"
                           title="Supprimer la ligne de frais hors forfait">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </fieldset>
</table>
<form action="{{ path('gsbgsb_validAjoutElementHsForfait') }}" method="post">
    <div class="corpsForm">
        <fieldset>
            <legend>Nouvel élément hors forfait
            </legend>
            <p class="col-sm-12 col-xs-12">
                <label class="col-sm-2" for="txtDateHF">Date : </label>
                <input type="text" id="txtDateHF" name="txtDateHF" size="12" maxlength="10" 
                       title="Entrez la date d'engagement des frais au format JJ/MM/AAAA" 
                       value="{% for flashMessage in app.session.flashbag.get('date') %}{{ flashMessage }}{% endfor %}" />
            </p>
            <p class="col-sm-12 col-xs-12">
                <label class="col-sm-2" for="txtLibelleHF">Libellé : </label>
                <input type="text" id="txtLibelleHF" name="txtLibelleHF" size="70" maxlength="100" 
                       title="Entrez un bref descriptif des frais" 
                       value="{% for flashMessage in app.session.flashbag.get('libelle') %}{{ flashMessage }}{% endfor %}" />
            </p>
            <p class="col-sm-12 col-xs-12">
                <label class="col-sm-2" for="txtMontantHF">Montant : </label>
                <input type="number" id="txtMontantHF" name="txtMontantHF" size="12" maxlength="10" 
                       title="Entrez le montant des frais (le point est le séparateur décimal)" 
                       value="{% for flashMessage in app.session.flashbag.get('montant') %}{{ flashMessage }}{% endfor %}" />
            </p>
        </fieldset>
    </div>
    <div class="piedForm">
        <p>
            <input class="btn btn-sm btn-primary" id="ajouter" type="submit" value="Ajouter" size="20" 
                   title="Ajouter la nouvelle ligne hors forfait" />
            <input class="btn btn-sm btn-danger" id="effacer" type="reset" value="Effacer" size="20" />
        </p> 
    </div>

</form>
{% endblock %}
{% block javascripts %}
    <script>$(document).ready(function () {
            $('#t1').DataTable({bFilter: false, bInfo: false, "language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});
        });</script>
{% endblock %}