

<nav class="navbar navbar-inverse col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand" >{{ app.session.get('user_nom') }} {{ app.session.get('user_prenom') }} | {{ app.session.get('user_role') }}</p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('gsbgsb_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('gsbgsb_sedeconnecter') }}">Se déconnecter</a></li> 

                {% if  app.session.get('user_role') == "Visiteur Médical" %}     
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opération<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gsbgsb_saisieFicheFrais') }}">Saisie fiche de frais du mois courant</a></li>
                            <li><a href="{{ path('gsbgsb_consultFichesFrais') }}">Consultation de mes fiches de frais</a></li>
                        </ul>
                    </li>         
                {% else %}   

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gsbgsb_gestionFicheFrais')}}">Gestion des fiches de frais</a></li>
                            <li><a href="{{ path('gsbgsb_suivreFicheFrais')}}">Suivi du paiement des fiches de frais</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
