{% extends "GSBGSBBundle:Page:index.html.twig" %}

{% block contenu %}
    <h2>Suivre les fiches de frais</h2>
    <p class="bg-success">{% for succes in app.session.flashbag.get('succes') %}{{ succes }}{% endfor %}</p>
    <p class="erreur">
        {% for erreur in app.session.flashbag.get('erreur') %}
            {{ erreur }}
        {% endfor %}
    </p>
    <table id="t1" class="display tableau" cellspacing="0" >
        <caption class="txtCaption">Fiches en attente de paiement :</caption>
        <thead>
            <tr>
                <th class="nom">Nom</th> 
                <th class="prenom">Prénom</th> 
                <th class="prenom">Mois</th> 
                <th class="montant">Montant Valide</th>
                <th class="montant">Détails</th>
                
            </tr>
        </thead>
        <tbody>
            {% for uneLigne in ligneFicheValider %}
                <tr id="{{ uneLigne.fiche_idUtilisateur }}_{{ uneLigne.fiche_mois}}">

                    <td class="nom">{{ uneLigne.nom}}</td>
                    <td class="prenom">{{ uneLigne.prenom}}</td>
                    <td class="date">{{ uneLigne.libelleDate}}</td>
                    <td>{{ uneLigne.fiche_montantvalide }}</td>
                    <td><button id="{{ loop.index }}" type="button" class="btn btn-primary btn-xs uneFicheFrais" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Ouvrir</button>
                        

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

                                    <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Fiche de <span id="nomFiche"></span> <span id="prenomFiche"></span> -- <span id="dateFiche"></span></h4>
                                    </div>
                                    <div class="modal-body">

                                        <table id="tabFraisAuForfait" class="t2" class="display tableau" cellspacing="0" >
                                            <caption >Descriptif des éléments forfait</caption>
                                            <thead>
                                                <tr>
                                                    <th class="id">Id</th>
                                                    <th class="libelle">Libellé</th> 
                                                    <th class="quantite">Quantité</h>    
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                        <table id="tabFraisHorsForfait" class="t3" class="display tableau" cellspacing="0" >
                                            <caption >Déscriptif des éléments hors forfait</caption>
                                            <thead>
                                                <tr>
                                                    <th class="id">Id</th>
                                                    <th class="libelle">Libellé</th> 
                                                    <th class="quantite">Montant</th>    
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary col-md4 col-sm-4 col-xs-6 paiement"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Mettre en paiement</button>
                                        <button type="button" class="btn btn-default col-md3 col-sm-3 col-xs-5 pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".bg-success").text("");
            }, 5000);
            window.setTimeout(function () {
                $(".erreur").text("");
            }, 5000);
            $('#t1').DataTable({"language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});
            $('.t2').DataTable({ordering: false,paging: false,bFilter: false, bInfo: false,"language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});
            $('.t3').DataTable({ordering: false,paging: false,bFilter: false, bInfo: false,"language": {"url": "{{ asset('gsbbundle/styles/french.json') }}"}});

            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus();
            });
            $('.uneFicheFrais').click(function () {
                idLigne = $(this).parents('tr').attr('id');
                splitId = idLigne.split('_');
                idUtilisateur = splitId[0];
                idMois = splitId[1];
                
                nom = $(this).parents("tr").children("td.nom").text();
                prenom = $(this).parents("tr").children("td.prenom").text();
                date = $(this).parents("tr").children("td.date").text();
                
                $('#dateFiche').text(date);
                $('#prenomFiche').text(prenom);
                $('#nomFiche').text(nom);
                
                $.ajax({
                    url: "{{ path('gsbgsb_recupFraisAuForfait')}}",
                    type: 'POST',
                    data: 'idUtilisateur=' + idUtilisateur + '&idMois=' + idMois
                }).success(function (data) {
                    $("#tabFraisAuForfait" + ' tbody').empty();
                    $.each(data, function (key) {
                        $id = data[key]['id'];
                        $("#tabFraisAuForfait").append('<tr><td>' + data[key]['id'] + '</td><td>' + data[key]['libelle'] + '</td><td>' + data[key]['quantite'] + '</td></tr>');
                    });
                    
                });
                $.ajax({
                    url: "{{ path('gsbgsb_recupFraisHorsForfait')}}",
                    type: 'POST',
                    data: 'idUtilisateur=' + idUtilisateur + '&idMois=' + idMois
                }).success(function (data) {
                    $("#tabFraisHorsForfait" +  ' tbody').empty();
                    $.each(data, function (key) {
                        $id = data[key]['id'];
                        $("#tabFraisHorsForfait" + ' tbody').append('<tr><td>' + data[key]['id'] + '</td><td>' + data[key]['libelle'] + '</td><td>' + data[key]['montant'] + '</td></tr>');
                    });

                });

            });
            $('.paiement').click(function () {
                $.ajax({
                    url: "{{ path('gsbgsb_miseEnPaiementFicheFrais')}}",
                    type: 'POST',
                    data: 'idUtilisateur=' + idUtilisateur + '&idMois=' + idMois
                }).complete(function (data) {
                    location.reload();

                });

            });
        });
    </script>
{% endblock %}